html, body
{
    height: 100%; /*Ocupa 100% da área visível do navegador*/
    margin: 0;
    font-family: sans-serif;
    color: rgb(46, 44, 45);
}

    .parallax1{
        position: relative; /*define posicionamento relativo*/
        background-image: url("../IMG/wp4372219.webp"); /*Insere imagem de fundo*/
        height: 100%; /*Ocupa 100% da div parallax1*/
        opacity: 0.5; /*Deixa a imagem opaca*/
        background-attachment: fixed; /*Deixa a img fixa*/
        background-position: center; /* Centraliza a imagem*/
        background-repeat: no-repeat; /*não repete a imagem*/
        background-size: cover;/*Ajusta a proporção da imagem na tela*/
    }

    .caption{
        position: absolute; /*define o posicionamento da div*/
        left: 0; /*gruda o quadro no canto esquerdo*/
        top: 50%; /* coloca o quadro com o texto no centro da div parallax1*/
        width: 100%; /*define a largura em 100%*/
        text-align: center; /*defino o texto ao centro*/
    }

    .caption span.border{
        background-color: #f90202;/*define a cor de fundo do texto*/
        color: aliceblue;/*define a cor de texto*/
        padding: 20px; /*define o espaçamento entre a caixa e o texto*/
        font-size: 25px; /*define o tamanho da fonte*/
        letter-spacing: 10px;/*aumenta o espaçamento das letras*/
    }

    .parallax2{
        position: relative;
        background-image: url("../IMG/2.webp");
        height: 100%;
        opacity: 0.5;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  

        .parallax3{
        position: relative;
        background-image: url("../IMG/img_parallax3.jpg");
        height: 100%;
        opacity: 0.5;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .box1{
        background-color: white;
        text-align: justify;
        padding: 50px 80px;
    }

    .box1 h3{
        text-align: center;
    }

    .box2{
        background-color: rgb(206, 197, 197);
        color: white;
        text-align: center;
        padding: 50px 80px;
    }

    /*EXERCÍCIO
    Crie um hotsite utilizando o efeito parallax sobre Pokemon*/
